body
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 1s;
    overflow: hidden;
    position: relative;
    background-color: #eee;

}
.results
{
    background-color: black;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

.ball-1
{
	height: 60px;
	width: 60px;
	border-radius: 50%;
    background-color: #09c;
    position: absolute;
    z-index: 8888;
}
.balls h2 , .balls h1{
    display: none;
    font-size: 20px;
    font-size: 57px;
    margin-top: 0px
}
.balls h1 
{
  color: green
}
.balls h2
{
  color: red;
}
.link {
    font-size: 18px;
    color: #333;
}
.link:hover {
    text-decoration: none;
}